<div>{{category}}</div>
<a href="/cat/list">{{__ "LABEL_LIST_ALL_CATEGORIES" }}</a>
<ul>
{{#each events}}
<li class="eventitem">
  <a class="event" href="/event/{{this._id}}">{{this.title}}</a>
</li>
{{/each}}
</ul>

