<!doctype html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/isotope.css'>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  {{{block "stylesheets"}}}
</head>

<body>
  {{{body}}}

  <script src="/scripts/jquery-1.8.2.min.js"></script>
  <script src="/scripts/jquery.isotope.min.js"></script>
  {{{block "scripts"}}}
</body>

</html>
